 
.budget-table {
   
    position: absolute; /* Pozicioniranje da bismo mogli centrirati tabelu */
    top: 60%; /* Pomeramo tabelu 60% od vrha */
    left: 50%; /* Pomeramo tabelu 50% od leve strane */
    transform: translate(-50%, -50%); /* Centriramo tabelu */
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Moderniji font */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Diskretna senka */
    background-color: #f4f4f4; /* Neutralna pozadina */
}

.budget-table th, .budget-table td {
    padding: 20px 15px; /* Više prostora unutar ćelija */
    text-align: left;
    border-bottom: 1px solid #ddd; /* Finije granice */
}

.budget-table th {
    color: white; /* Bela za tekst u headeru */
    font-size: 1.1em; /* Veći font za header */
}

.budget-table thead th:nth-child(1) {
    background-color: #77dd77; /* Pastelno crvena za zaglavlje prihoda */
}

.budget-table thead th:nth-child(2) {
    background-color: #ff6961; /* Pastelno zelena za zaglavlje rashoda */
}

.budget-table td {
    color: #333; /* Tamniji tekst za bolju čitljivost */
    background-color: #fff; /* Bela pozadina za redove */
}

.budget-table tr:nth-child(even) {
    background-color: #eaeaea; /* Naizmenične boje za redove */
}

.budget-table tr:hover {
    background-color: #ccc; /* Boja prilikom prelaska mišem */
    cursor: pointer; /* Promena kursora da sugeriše interaktivnost */
}

/* Dodajemo stilove za mobilne uređaje */
@media screen and (max-width: 768px) {
    .budget-table {
        width: 95%; /* Šira tabela na manjim ekranima */
        height: auto; /* Auto visina za mobilne uređaje */
        position: relative; /* Relativno pozicioniranje za mobilne */
        top: auto; /* Vraćamo na auto za mobilne uređaje */
        left: auto; /* Vraćamo na auto za mobilne uređaje */
        transform: none; /* Uklanjamo transformaciju za mobilne */
    }
}

.search-container {
    padding: 10px;
    text-align: center;
}

.search-input {
    padding: 8px;
    margin-bottom: 20px;
    width: 300px;  
    border-radius: 4px;
    border: 1px solid #ddd;
}
.totals-container {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}

.total-income {
    color: #4CAF50;  
}

.total-expense {
    color: #f44336;  
}

.balance {
    color: #2196F3;  
}
 
.balance.negative {
    color: #f44336;
}

button {
    padding: 5px 10px;
    margin-left: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}