
.new-transaction-form {
    background-color: rgba(200, 200, 200, 0.7); /* Providna siva pozadina */
    padding: 20px;
    margin-bottom: 20px; /* Razmak između forme i tabele */
    margin-left:25%;
    margin-right:25%;
    margin-top:10%;
}

.new-transaction-form form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Razmak između polja */
}

.new-transaction-form input,
.new-transaction-form select,
.new-transaction-form button {
    padding: 10px;
    margin: 5px 0; /* Vertikalni razmak */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.new-transaction-form button {
    background-color: #4CAF50; /* Zelena boja za dugme */
    color: white;
    cursor: pointer;
}